/* Variables */
:root {
    --blanco: white;
    --dorado: #FFB800;
    --negro: rgb(0, 0, 0);
    --gris: #D8D8D8;
    --grisOscuro: #373739;
    --grisSemi: #565657;
    --marron: #603813;
    --mon: 'Montserrat', sans-serif;
    --rob: 'Roboto Slab';
}

/* Globales*/
img {
    max-width: 100%;
}
 html {
     font-size: 62.5%;
     box-sizing: border-box;
 }

 *, *:before, *:after {
    box-sizing: inherit;
 }
body {
    font-size: 1.6rem;
    color: var(--negro);
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,233,230,1) 100%);
    font-family: var(--rob);
    margin: 0;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-family: var(--mon);
    font-weight: 800;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3.0rem;
}
/* Contenido Global*/
.contenedor {
    max-width: 160rem;
    margin: 0 auto;
}

/* Header */
.header {
    display: block;
    text-align: center;
}
.header a {
    color: var(--blanco);
    font-family: var(--rob);
}
.header-menu a {
    padding: 0 2rem;
    display: block;
}
.header-logo {
    font-size: 4rem;
    padding-bottom: 2rem;
}
.header-menu {
    font-size: 2.5rem;
}
.header-menu a {
    padding-bottom: 1rem;
}
.header-menu a:last-of-type {
    padding-bottom: 0rem;
}
@media (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
    }
    .header-menu a {
        display: inline;
    }
    .header-menu a:last-of-type {
        padding-right: 0;
    }
    .header-logo {
        font-size: 3.6rem;
        font-weight: 400;
    }
    .header-menu {
        font-size: 2.4rem;
        font-weight: 400;
    }
}

/* Presentacion */
.overlay {
    background: rgb(96,56,19);
    background: linear-gradient(0deg, rgba(96,56,19,0.8) 100%, rgba(96,56,19,0.0032387955182072714) 100%);
    height: 160rem;
}
.header-presentacion {
    background: url(../img/furniture.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 160rem;
    
}
.presentacion-contenido-boton:hover {
    cursor: pointer;
}
.presentacion {
    color: var(--blanco);
    padding-top: 5rem;
    text-align: center;
}
.presentacion-contenido-texto {
    width: auto;
    font-size: 2.5rem;
    font-family: var(--rob);
    font-weight: 300;
}
.presentacion-contenido-boton {
    background-color:  var(--dorado);
    border: none;
    border-radius: 30rem;
    padding: 2rem 4rem;
    font-family: var(--mon);
    color:white;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .header-presentacion {
        height: 85rem;
    }
    .overlay {
        height: 85rem;
    }
    .presentacion {
        display: flex;
        justify-content: center;
        text-align: initial;
    }
    .presentacion-imagen {
        display: flex;
        justify-content: left;
    }
    .presentacion-contenido {
        width: 80rem;
        padding-top: 5rem;
    }
    .presentacion-contenido-boton {
        margin-left: 18rem;
        margin-bottom: 0;
    }
}

/* Quienes Somos */
.quienessomos {
    display: grid;
    padding: 5rem 0;
    border-bottom: 1px solid var(--grisSemi);
    gap: 2rem;
}
.quienessomos-contenido {
    grid-row-start: 0;
    grid-row-end: 1;
    text-align: center;
    padding-top: 5rem;
}
.quienessomos-video {
    padding: 20rem 20rem;
    background-color: var(--negro);
    display: flex;
    justify-content: center;
}
.quienessomos-video:hover{
    cursor: pointer;
}

@media (min-width: 768px) {
    .quienessomos {
        padding: 15rem 0;
        grid-template-rows: none;
        grid-template-columns: repeat(2,1fr);
        column-gap: 5rem;
    }
    .quienessomos-contenido {
        text-align: initial;
    }
    .quienessomos-video {
        grid-row-start: 0;
        grid-row-end: 1;
    }
    .quienessomos-video {
        padding: 20rem 15rem;
    }
    .quienessomos-contenido-titulo {
        font-size: 6rem;
    }
    .quienessomos-contenido-texto {
        font-size: 3rem;
    }
    
}

/* Beneficios */

.beneficios {
    padding: 5rem 0;
    border-bottom: 1px solid var(--grisSemi);
}
.beneficios-contenido {
    padding-top: 5rem;
}

.beneficios-contenido-titulo {
    text-align: center;
}
.beneficios-contenido-lista {
    list-style: none;
}
.beneficios-contenido-lista li {
    padding-bottom: 4rem;
}
@media (min-width: 768px) {
    .beneficios {
        padding: 15rem 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 5rem;
    }
    .beneficios-contenido-titulo {
        font-size: 6rem;
        text-align: initial;
    }
    .beneficios-contenido-lista {
        font-size: 3rem;
        list-style: none;
    }
    .beneficios-imagen {
        display: flex;
        align-items: center;
    }
}